<h4><%=session[:player_name]%>'s Bet: <%=session[:player_bet]%></h4>


<div>
  <h5>Your Cards: </h5>
  <% session[:player_cards].each do |card| %>
    <img src="<%= './images/cards2/'+card.join+'.gif' %>" class="img-rounded"/>
  <% end %>

  <p><%=session[:player_name]%>'s Total = <%= total(session[:player_cards]) %></p>
</div>

<div>
  <h5>Dealer's Cards: </h5>
  <% start_idx = 0 %>
  <% unless session[:player_stays] || @error %>
    <img src="<%= './images/cards2/B.gif' %>" class="img-rounded"/>
    <% start_idx = 1 %>
  <% end %>
  <% session[:dealer_cards][start_idx..-1].each do |card| %>
    <img src="<%= './images/cards2/'+card.join+'.gif' %>" class="img-rounded"/>
  <% end %>
</div>
<br/>
<% if !@error %>
  <form class="form-horizontal" action='/game/player/hit' method='post'>
    <input type="submit" class="btn btn-primary" value="Hit!"/>
  </form>

  <form class="form-horizontal" action='/game/player/stay' method='post'>
    <input type="submit" class="btn btn-warning" value="Stay"/>
  </form>
<% elsif session[:player_chips] > 0 %>
  <form class="form-horizontal" action='/play_again' method='post'>
    <input type="submit" class="btn btn-primary" value="Play Again"/>
  </form>
  <form class="form-horizontal" action='/game_over'>
    <input type="submit" class="btn btn-success" value="Show Me The Money!!"/>
  </form>
<% else %>
  <h4>You've run out of chips, <%=session[:player_name]%><br/>
      No more BlackJack for you!
  </h4>
  <h6>Unless you go to <a href='/'>start over</a></h6>
<% end %>
